.carousel-inner,
.carousel-item,
.carousel-item img {
  height: 2000px;
}

.carousel-item img {
  width: 100%;
  object-fit: cover;
}

.carousel,
.carousel-inner,
.carousel-item {
  margin: 0;
  padding: 0;
}

