<style>
  @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
</style>
<nav
  class="navbar fixed-top navbar-expand-sm navbar-dark"
  style="background-color: black"
>
  <a class="navbar-brand" href="#">
    <img src="assets\logo (1) 1.png" width="200" height="110" alt="" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarNavAltMarkup"
  >
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#"
        >Inicio <span class="sr-only"> </span
      ></a>
      <a class="nav-item nav-link" href="#">Propuestas</a>
      <a class="nav-item nav-link" href="#">Galería</a>
      <a class="nav-item nav-link" href="#">Preguntas frecuentes</a>
    </div>
  </div>
</nav>
<app-carrousel></app-carrousel>
<div class="container-section">
  <div class="container-content">
    <div class="container-content-titles">
      <h2>
        FESTEJÁ EN <span class="highlight">TIVOLI fest</span>, EL SALÓN MÁS
        GRANDE DE ZONA SUR
      </h2>
      <p>
        Ubicados en Banfield Oeste, en
        <span class="highlight">TIVOLI fest</span> vas a encontrar el mejor
        espacio para festejar tu evento y celebrar momentos únicos e
        inolvidables.
      </p>
    </div>
    <div class="container-content-list">
      <ul>
        <li class="list">400m² cubiertos y 150m² descubierto</li>
        <li class="list">Capacidad para 200 personas</li>
        <li class="list">Seguro médico y ambiente climatizado</li>
        <li class="list">Animación</li>
        <li class="list">Megapelotero</li>
        <li class="list">Samba</li>
        <li class="list">Písta de baile</li>
      </ul>
      <ul>
        <li class="list">Máquina de baile Pump It Up</li>
        <li class="list">Cancha de fútbol</li>
        <li class="list">Simulador realidad virtual 6D</li>
        <li class="list">Zona blanda</li>
        <li class="list">Cascada</li>
        <li class="list">Playroom</li>
        <li class="list">Piso loco</li>
      </ul>
    </div>
  </div>
</div>
<div class="container-section-2">
  <div class="container-section-2-content">
    <div class="cards-row">
      <div class="container-section-2-content-cards">
        <img src="assets/Niños.svg" alt="Pelotero" />
        <p>Pelotero</p>
      </div>
      <div class="container-section-2-content-cards">
        <img src="assets/Robot.svg" alt="Robot Gigante Led" />
        <p>Robots LED</p>
      </div>
      <div class="container-section-2-content-cards">
        <img src="assets/Realidad-virtual.svg" alt="Realidad Virtual 6D" />
        <p>Realidad Virtual 6D</p>
      </div>
      <div class="container-section-2-content-cards">
        <img src="assets/canchita-futbol.svg" alt="Canchita de futbol" />
        <p>Canchita de futbol</p>
      </div>
      <div class="container-section-2-content-cards">
        <img src="assets/pantalla-juegos.svg" alt="Pantalla Interactiva" />
        <p>Pantalla interactiva</p>
      </div>
      <div class="container-section-2-content-cards">
        <img src="assets/Cascada.svg" alt="Cascada" />
        <p>Cascada</p>
      </div>
      <div class="container-section-2-content-cards">
        <img src="assets/Pool.svg" alt="Pool" />
        <p>Pool</p>
      </div>
      <div class="container-section-2-content-cards">
        <img src="assets/pisoloco.svg" alt="Piso loco" />
        <p>Piso loco</p>
      </div>
      <div class="container-section-2-content-cards">
        <img src="assets/Fichines.svg" alt="Fichines" />
        <p>Fichines</p>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
