<!-- <img src="assets/IMAGEN.JPG" alt="Descripción" /> -->
<style>
  @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
</style>
<nav
  class="navbar fixed-top navbar-expand-sm navbar-dark"
  style="background-color: black"
>
  <a class="navbar-brand" href="#">
    <img src="assets\logo (1) 1.png" width="200" height="110" alt="" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarNavAltMarkup"
  >
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#"
        >Inicio <span class="sr-only">(current)</span></a
      >
      <a class="nav-item nav-link" href="#">Propuestas</a>
      <a class="nav-item nav-link" href="#">Galería</a>
      <a class="nav-item nav-link" href="#">Preguntas frecuentes</a>
    </div>
  </div>
</nav>
<app-carrousel></app-carrousel>
<div class="container-section">
  <div class="container-content">
    <h2>
      FESTEJÁ EN <span class="highlight">TIVOLI fest</span>, EL SALÓN MÁS GRANDE
      DE ZONA SUR
    </h2>
    <p>
      Ubicados en Banfield Oeste, en
      <span class="highlight">TIVOLI fest</span> vas a encontrar el mejor
      espacio para festejar tu evento y celebrar momentos únicos e inolvidables.
    </p>
   <div class="container-content-list">
    <ul>
      <li>400m² cubiertos y 150m² descubierto</li>
      <li>Capacidad para 200 personas</li>
      <li>Seguro médico y ambiente climatizado</li>
      <li>Animación</li>
    </ul>
    <ul>
      <li>
        Megapelotero
      </li>
      <li>Cancha de fútbol</li>
      <li>Simulador realidad virtual 6D</li>
      <li>Zona blanda</li>
      <li>Cascada</li>
      <li>Cascada</li>
      <li>Playroom</li>


    </ul>
   </div>
  </div>
</div>
<router-outlet></router-outlet>
