@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
}
.navbar {
  min-height: 90px;
  font-size: 36px;
  font-weight: 500;
}

.navbar-brand {
  padding-top: 12.5px;
  line-height: 70px;
  padding-left: 76px;
  padding-bottom: 12.5px;
  padding-right: 76px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
}
.nav-item {
  display: flex;
  margin-right: 3rem;
}
#navbarNavAltMarkup {
  margin-right: 76px;
}
.container-section {
  background-image: url("/assets/background-container.JPG");
  position: relative;
  width: 100%;
  height: 1550px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-content {
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  border-radius: 1rem;
  max-width: 2500px;
  box-sizing: border-box;
}

.container-content h2 {
  font-size: 6em;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.container-content p {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.container-content ul {
  list-style: disc;
  padding-left: 2rem;
  text-align: left;
  font-size: 3rem;
}
.container-content-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 80px;
}
.highlight {
  color: #a8cf45;
  font-weight: bold;
}
@keyframes appear {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}
.container-content-titles,
.container-content-list {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 1.5% cover 30%;
  line-height: 2;
}

.container-section-2 {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #085875, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: aliceblue;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container-section-2-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  padding: 3rem;
}

.cards-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas fijas */
  gap: 3rem;
  width: 100%;
  max-width: 1200px;
  position: relative;
  z-index: 2;
}

.container-section-2-content-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  border: none;
  background: none;
}

.cards-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.7)
  );
  backdrop-filter: blur(2px);
  z-index: 1;
}
.container-section-2-content-cards img {
  width: 100%;
  height: auto;
  max-width: 250px;
}

.container-section-2-content-cards p {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  word-break: normal;
  hyphens: auto;
  padding: 0 0.5rem;
}

.container-section-3 {
  display: flex;
  width: 100%;
  padding: 10rem;
  align-items: center;
  justify-content: center;
  background-color: black;
  flex-direction: column;
}

mat-accordion {
  background-color: transparent;
  max-width: 80%;
  margin-bottom: 8rem;
}

mat-expansion-panel {
  width: 100%;
  background-color: #ed2f59;
  border-radius: 1rem;
  overflow: hidden;
}
mat-expansion-panel-header {
  font-size: 4rem;
  padding: 3rem;
  line-height: 1.2;
  flex-direction: column !important; /* ¡clave! */
  align-items: center;
  min-height: unset !important; /* evita el mínimo que lo puede ocultar */
  height: auto !important;
}

mat-panel-title {
  font-size: 3rem !important;
  font-weight: bold;
  color: white;
  width: 100%;
  display: block;
  min-width: 2000px;
  text-align: center;
}

mat-panel-description {
  display: none;
}

mat-expansion-panel p {
  font-size: 2.5rem;
  color: white;
  padding: 3rem;
  line-height: 1.6;
}
.whatsapp #float-wa {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  border-right: none;
  text-align: center;
  font-size: 30px;
  z-index: 100;
  transform: all 0.5s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: 0;
}
#float-wa svg {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1rem;
  width: 7rem;
  height: 5rem;
}
#float-wa::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  background-color: #e73c7e;
  border-radius: 50%;
  -webkit-animation: pulse-border 1500ms ease-out infinite;
  animation: pulse-border 1500ms ease-out infinite;
}
#float-wa::focus {
  border: none;
  outline: none;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale (1);
    opacity: 1;
  }
  100%{
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale (1);
    opacity: 1;
  }
}
/**************MEDIA QUERIES**************/

/* Tablets (>=768px y <992px): 3 cards por fila */
@media (min-width: 768px) and (max-width: 991px) {
  .container-section-2-content-cards {
    flex: 1 1 calc(33.33% - 2rem);
  }
}

/* Móviles: scroll horizontal */
@media (max-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
  .cards-row {
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 1rem;
  }
  .container-section {
    min-height: 100vh;
    padding: 2rem;
  }

  .container-section-2-content-cards {
    flex: 1 1 calc(33.33% - 2rem);
    max-width: calc(33.33% - 2rem);
  }
  .container-content {
    max-width: 700px;
  }
  .container-content h2 {
    font-size: 3rem;
  }

  .container-content p {
    font-size: 2rem;
  }

  .container-content ul {
    font-size: 1.8rem;
  }

  .container-content-list {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .cards-row {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 1rem;
  }

  .container-section-2-content-cards img {
    max-width: 150px;
  }

  .container-section-2-content-cards p {
    font-size: 1.6rem;
  }

  mat-panel-title {
    font-size: 2rem !important;
    min-width: unset; /* <-- esto es clave */
    width: 100%;
  }
  mat-expansion-panel-header {
    font-size: 2rem;
    padding: 1.5rem;
  }

  mat-expansion-panel p {
    font-size: 1.6rem;
    padding: 2rem;
  }
}

.cards-row::-webkit-scrollbar {
  height: 8px;
}
.cards-row::-webkit-scrollbar-thumb {
  background: #a8cf45;
  border-radius: 4px;
}
