@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
}
.navbar {
  min-height: 90px;
  font-size: 32px;
}

.navbar-brand {
  padding-top: 12.5px;
  line-height: 70px;
  padding-left: 76px;
  padding-bottom: 12.5px;
  padding-right: 76px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
}
#navbarNavAltMarkup {
  margin-right: 76px;
}
.container-section {
  background-image: url("/assets/background-container.JPG");
  position: relative;
  width: 100%;
  height: 1550px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-content {
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  border-radius: 1rem;
  max-width: 2500px;
  box-sizing: border-box;
}

.container-content h2 {
  font-size: 6em;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.container-content p {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.container-content ul {
  list-style: disc;
  padding-left: 2rem;
  text-align: left;
  font-size: 3rem;
}
.container-content-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 80px;
}
.highlight {
  color: #a8cf45;
  font-weight: bold;
}
@keyframes appear {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}
.container-content-titles,
.container-content-list {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 1.5% cover 30%;
  line-height: 2;
}

.container-section-2 {
  background-image: url("/assets/background-2.jpg");
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15rem;
  border-radius: 1rem;
  box-sizing: border-box;
}

.container-section-2-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}

.cards-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas fijas */
  gap: 3rem;
  width: 100%;
  max-width: 1200px;
  position: relative;
  z-index: 2;
}

.container-section-2-content-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.cards-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.7)
  );
  backdrop-filter: blur(2px);
  z-index: 1;
}
.container-section-2-content-cards img {
  width: 100%;
  height: auto;
  max-width: 250px;
}

.container-section-2-content-cards p {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  word-break: normal;
  hyphens: auto;
  padding: 0 0.5rem;
}

.container-section-3 {
  display: flex;
  width: 100%;
  padding: 10rem;
  align-items: center;
  justify-content: center;
  background-color: black;
  flex-direction: column;
}

mat-accordion {
  background-color: transparent;
  max-width: 80%;
  margin-bottom: 8rem;
}

mat-expansion-panel {
  width: 100%;
  background-color: #ed2f59;
  border-radius: 1rem;
  overflow: hidden;
}
mat-expansion-panel-header {
  font-size: 4rem;
  padding: 3rem;
  line-height: 1.2;
  flex-direction: column !important; /* ¡clave! */
  align-items: center;
  min-height: unset !important; /* evita el mínimo que lo puede ocultar */
  height: auto !important;
}

mat-panel-title {
  font-size: 4rem !important;
  font-weight: bold;
  color: white;
  width: 100%;
  display: block;
}

mat-panel-description {
  display: none;
}

mat-expansion-panel p {
  font-size: 2.5rem;
  color: white;
  padding: 3rem;
  line-height: 1.6;
}

/**************MEDIA QUERIES**************/

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}
/* Tablets (>=768px y <992px): 3 cards por fila */
@media (min-width: 768px) and (max-width: 991px) {
  .container-section-2-content-cards {
    flex: 1 1 calc(33.33% - 2rem);
  }
}

/* Móviles: scroll horizontal */
@media (max-width: 767px) {
  .cards-row {
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 1rem;
  }

  .container-section-2-content-cards {
    flex: 1 1 calc(33.33% - 2rem);
    max-width: calc(33.33% - 2rem);
  }
  .container-content {
    max-width: 700px;
  }
}

.cards-row::-webkit-scrollbar {
  height: 8px;
}
.cards-row::-webkit-scrollbar-thumb {
  background: #a8cf45;
  border-radius: 4px;
}
