<style>
  @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
</style>
<nav
  class="navbar fixed-top navbar-expand-sm navbar-dark"
  style="background-color: black"
>
  <a class="navbar-brand" href="#">
    <img src="assets\logo (1) 1.png" width="200" height="110" alt="" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarNavAltMarkup"
  >
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#"
        >Inicio <span class="sr-only"> </span
      ></a>
      <a class="nav-item nav-link" href="#">Propuestas</a>
      <a class="nav-item nav-link" href="#">Galería</a>
      <a class="nav-item nav-link" href="#">Preguntas frecuentes</a>
    </div>
  </div>
</nav>
<app-carrousel></app-carrousel>
<div class="container-section">
  <div class="container-content">
    <div class="container-content-titles">
      <h2>
        FESTEJÁ EN <span class="highlight">TIVOLI fest</span>, EL SALÓN MÁS
        GRANDE DE ZONA SUR
      </h2>
      <p>
        Ubicados en Banfield Oeste, en
        <span class="highlight">TIVOLI fest</span> vas a encontrar el mejor
        espacio para festejar tu evento y celebrar momentos únicos e
        inolvidables.
      </p>
    </div>
    <div class="container-content-list">
      <ul>
        <li class="list">400m² cubiertos y 150m² descubierto</li>
        <li class="list">Capacidad para 200 personas</li>
        <li class="list">Seguro médico y ambiente climatizado</li>
        <li class="list">Animación</li>
        <li class="list">Megapelotero</li>
        <li class="list">Samba</li>
        <li class="list">Písta de baile</li>
      </ul>
      <ul>
        <li class="list">Máquina de baile Pump It Up</li>
        <li class="list">Cancha de fútbol</li>
        <li class="list">Simulador realidad virtual 6D</li>
        <li class="list">Zona blanda</li>
        <li class="list">Cascada</li>
        <li class="list">Playroom</li>
        <li class="list">Piso loco</li>
      </ul>
    </div>
  </div>
</div>
<div class="container-section-2">
  <div class="container-section-2-content">
    <div class="cards-row">
      <div class="container-section-2-content-cards">
        <img src="assets/Niños.svg" alt="Pelotero" />
        <p>Pelotero</p>
      </div>
      <div class="container-section-2-content-cards">
        <img src="assets/Robot.svg" alt="Robot Gigante Led" />
        <p>Robots LED</p>
      </div>
      <div class="container-section-2-content-cards">
        <img src="assets/Realidad-virtual.svg" alt="Realidad Virtual 6D" />
        <p>Realidad Virtual 6D</p>
      </div>
      <div class="container-section-2-content-cards">
        <img src="assets/canchita-futbol.svg" alt="Canchita de futbol" />
        <p>Canchita de futbol</p>
      </div>
      <div class="container-section-2-content-cards">
        <img src="assets/pantalla-juegos.svg" alt="Pantalla Interactiva" />
        <p>Pantalla interactiva</p>
      </div>
      <div class="container-section-2-content-cards">
        <img src="assets/Cascada.svg" alt="Cascada" />
        <p>Cascada</p>
      </div>
      <div class="container-section-2-content-cards">
        <img src="assets/Pool.svg" alt="Pool" />
        <p>Pool</p>
      </div>
      <div class="container-section-2-content-cards">
        <img src="assets/pisoloco.svg" alt="Piso loco" />
        <p>Piso loco</p>
      </div>
      <div class="container-section-2-content-cards">
        <img src="assets/Fichines.svg" alt="Fichines" />
        <p>Fichines</p>
      </div>
    </div>
  </div>
</div>
<div class="container-section-3">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>¿Qué me incluye el presupuesto?</mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        El presupuesto incluye 20 adultos y 30 niños, además de la mantelería,
        vajilla, descartables, servilletas y la cafetería libre(café, te, mate
        cocido y leche).
        <br />
        Una camarera incluida para 20 personas y 3 animadores para 30 niños.
        <br />
        Dentro del presupuesto se incluyen: Samba Pelotero gigante con más de 50
        metros de recorrido, tirolesa, laberinto, trepador y peluches. Máquina
        de baile Pump it Up. Pista de baile con luces, lásers, máquinas de humo
        y otros efectos varios. Pantallas para videos, coreos y juegos
        didácticos de la mano de los mejores animadores. Zona blanda.
        <br />
        Playroom: incluye tejo, pool profesional, tragamonedas y arcades con más
        de 2500 juegos.
        <br />
        Exterior: Cancha de fútbol 5, cascada para fotos y mesas para adultos.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title
          >¿Cuántos adultos y niños están incluidos en el
          presupuesto?</mat-panel-title
        >
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        Dentro del presupuesto se incluyen 30 niños y 20 adultos. Siempre se
        pueden agregar más niños o adultos como adicionales al presupuesto. El
        salón tiene capacidad para 200 personas. Para más información sobre
        adicionales y otros precios, comunicarse via Whatsapp
      </p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title
          >¿Cuáles son los juegos y servicios adicionales?</mat-panel-title
        >
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        Los juegos adicionales son el Simulador de Realidad Virtual 6D, el nuevo
        Piso Loco y la pantalla de juegos interactiva. También contamos con la
        contratación de Robots LED Depredators, show de magia y maquillaje
        artístico.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>¿De cuánto es la reserva?</mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <p>La reserva es el 20% del valor total. Efectivo o transferencia.</p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title
          >¿Cómo se puede abonar el saldo de la fiesta?</mat-panel-title
        >
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <p>El saldo del evento se deberá abonar en efectivo.</p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>¿Cómo es el tema comidas y bebidas?</mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        Pueden ingresar todo tipo de alimentos pero ningún servicio que implique
        personal externo.
        <br />
        Les recordamos a todos nuestros clientes que la recepción de bebidas
        para los eventos del fin de semana y día lunes se realiza el dia viernes
        de 16 a 20 hs por Belgrano 1097 dónde se encuentra la cocina. En caso
        que el evento sea día de semana se recepcionarán el día anterior en el
        mismo horario.
        <br />
        La comida y el ingreso de los padres o personas para armar Candy,
        decoración y mesa de torta (Max 4 personas) se realizará por el mismo
        lugar 30 minutos antes del evento Las guirnaldas, globos, adornos, etc
        que quieran adherir a las paredes I/o mesas solo lo podrán hacer con
        *cinta de papel
      </p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title
          >¿Cuándo tengo que tener la fiesta pagada?</mat-panel-title
        >
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        El evento debe estar pago 48hs antes, sin excepción. En el día del
        evento pueden abonarse los adicionales.
      </p>
      </mat-expansion-panel>
  </mat-accordion>
</div>

<router-outlet></router-outlet>
